---
import { getEmDashCollection } from "emdash";
import Base from "../../layouts/Base.astro";

const { entries: announcements, cacheHint } = await getEmDashCollection("announcements", {
	orderBy: { published_at: "desc" }
});

Astro.cache.set(cacheHint);
---

<Base title="Pengumuman" description="Daftar pengumuman terbaru sekolah">
	<section class="list-page">
		<h1>Pengumuman</h1>
		<ul>
			{announcements.map((item) => (
				<li>
					<a href={`/announcements/${item.id}`}>{item.data.title}</a>
					{item.data.excerpt && <p>{item.data.excerpt}</p>}
				</li>
			))}
		</ul>
	</section>
</Base>
